<h1>Places</h1>

<ul>
  <% for place in @places %>
    <li><a class = "link-offset-2" href="/places/<%= place["id"] %>"><%= place["name"] %></a></li>
  <% end %>
</ul>

<p>
  <a class = "link-offset-2" href="/places/new">New place</a>
</p>